{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <h2 class="txt-type">
            <span class="text-primary font-bold dark:text-white">L</span>
            <span class="text-secondary font-bold">U</span>
            <span class="text-thirdly font-bold">R</span>
            <span class="text-green-500 font-bold">I</span>
            <span class="text-purple-500 font-bold">G</span>
            <span class="text-orange-500 font-bold">O</span>
            <span class="text-red-500 font-bold">R</span>
        </h2>
        <h3 class="txt-type" id="type-effect"></h3>
        <div class="bottom-0 fixed mt-28">
            <div class="bg-primary border-2 border-secondary w-screen h-96 mb-0 dark:bg-white dark:text-primary">
                <div class="text-secondary text-3xl text-center pt-3" >Contacts</div>
                <div class="flex flex-row justify-evenly h-full text-blue-500 dark:text-black">
                    <div class="contacts">
                        <div class="pt-16 pl-7 pr-7">
                            <p class="text-2xl">Directeur du Laboratoire:</p>
                            <p class="font-bold text-primary dark:text-blue-500">Abdelouahed BERRICHI</p>
                            <p>Tél : <span class="font-bold text-green-500">0666 478 434</span></p>
                            <p>E-mail institutionnel : <span class="font-bold text-orange-500">abd.berrichi@ump.ac.ma</span></p>
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="pt-16 pl-7 pr-7">
                            <p class="text-2xl">Directeur Adjoint:</p>
                            <p class="font-bold text-primary dark:text-blue-500">Omar ZAHRAOUI</p>
                            <p>Tél : <span class="font-bold text-green-500">0661 369 016</span></p>
                            <p>E-mail institutionnel : <span class="font-bold text-orange-500">omarzah.prf.univ@gmail.com</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
