{% extends 'base.html.twig' %}

{% block title %}Nos Publications Scientifiques{% endblock %}

{% block body %}

    <div class="m-5 h-96">
        <div class="flex flex-row justify-between h-96 items-center">
            <div class="w-44 h-32 flex flex-col justify-between">
                <div class="items-center text-center"><i class="fa-solid fa-note-sticky text-7xl mt-2"></i></div>
                <div><a href="{{ path("app_articles") }}" target="_blank">Consultez Nos Articles</a></div>
            </div>
            <div class="w-44 h-32 flex flex-col justify-between">
                <div class="items-center text-center"><i class="fa-solid fa-book-bookmark text-7xl mt-2"></i></div>
                <div><a href="{{ path("app_ouvrages") }}" target="_blank">Consultez Nos Ouvrages</a></div>
            </div>
            <div class="w-44 h-32 flex flex-col justify-between">
                <div class="items-center text-center"><i class="fa-solid fa-newspaper text-7xl mt-2"></i></div>
                <div><a href="#" target="_blank">Consultez Notre Revue</a></div>
            </div>
        </div>
    </div>

    <div class="mt-15 h-16"></div>

{% endblock %}