{% extends 'base.html.twig' %}

{% block title %}Laboratoire{% endblock %}

{% block main %}
    <main class="main">
        <div class="mr-16 ml-16 mt-14 mb-14 border-2 border-gray-700 dark:border-green-500 text-primary h-full dark:text-white">
            <div class="m-5">
                <h4 class="text-primary text-2xl font-bold dark:text-secondary mb-5 underline decoration-secondary">Mission Et Objectifs :</h4>
                <div>
                    <p class="text-xl mb-4">Les instruments de gestion sont consubstantiels aux pratiques et au développement des organisations publiques comme privées. Ces outils qui devraient occuper une place de choix dans les programmes de recherche universitaire au Maroc, demeurent néanmoins un domaine insuffisamment exploré, souvent réduit à un ensemble de techniques, restreint à une conception techno-centrique dite « représentationniste» ou « prescriptive ». Une telle conception ne permet pas de comprendre leur rôle dans les dynamiques organisationnelles (de changement, d’innovation, d’apprentissage, d’appropriation, de régulation, etc.).</p>
                    <p class="text-xl mb-4">Chemin faisant, le programme de recherche initié par LURIGOR vise à ouvrir la voie à l’exploration de ce rôle. La parti-pris est ainsi de repenser les relations que les outils de gestion entretiennent avec leur contexte interne et externe, et ce à travers 4 problématiques complémentaires :</p>
                    <ol class="ml-5 mb-4">
                        <li class="font-bold text-blue-500">1]  La première s'intéresse aux logiques d’anticipations et d’innovations des organisations et des acteurs suite aux mutations de l’environnement (économique, financière, technologique, sanitaire, sécuritaire, etc.) sous le prisme de la contingence ou non.</li>
                        <li class="font-bold text-blue-500">2]  La seconde s’intéresse aux pratiques d’instrumentation de gestion envisagée ici comme résultant d’une activité de construction sous le prisme de la méthode;</li>
                        <li class="font-bold text-blue-500">3]  La troisième aux dynamiques d’apprentissage et d’appropriation des outils par les acteurs sous le prisme de la complexité ou de l’expérience.</li>
                        <li class="font-bold text-blue-500">4]  La quatrième s’intéresse aux dynamiques de développement via le déploiement de nouveaux outils de gestion sous le prisme de la spécificité et de l’innovation.</li>
                    </ol>
                    <p class="text-xl mb-4">
                        Le laboratoire LURGOR met l'accent sur la recherche fondamentale et la formalisation théorique, tout en revendiquant une approche concrète, à finalité «appliquée », ancrée dans les problèmes posés par la mise en place et le développement des modèles de gestion des organisations au sens large. Il a aussi pour mission :
                    </p>
                    <ol class="ml-5">
                        <li class="font-bold text-green-800 dark:text-green-500">- d’initier des recherches portant sur les questions et problèmes de gestion & développement des organisations (privées et publiques);</li>
                        <li class="font-bold text-green-800 dark:text-green-500">- d’organiser, à la demande, des séminaires de formation et cycles de perfectionnement de courte durée ;</li>
                        <li class="font-bold text-green-800 dark:text-green-500">- d’effectuer des études à la demande des opérateurs publics et privés ;</li>
                        <li class="font-bold text-green-800 dark:text-green-500">- d’exercer des activités de consultation et de coopération en matière gestion & développement des organisations ;</li>
                        <li class="font-bold text-green-800 dark:text-green-500">- d’organiser des conférences, des rencontres, colloques, journées d’études, symposiums, tables rondes,  intéressant les acteurs privés et publics.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="mr-16 ml-16 mt-14 mb-14 pb-5 border-2 border-gray-700 dark:border-green-500 text-primary h-full dark:text-white">
            <div class="m-5">
                <h4 class="text-primary text-2xl font-bold dark:text-secondary mb-5 underline decoration-secondary">Axes de recherche :</h4>
                <div>
                    <p class="text-xl mb-4">Le programme de recherche initié par LURIGOR vise à ouvrir la voie à l’exploration du rôle des instruments de gestion dans les dynamiques organisationnelles (de changement, d’innovation, d’apprentissage, d’appropriation, etc.) et ce, à travers plusieurs axes de recherche déclinés par équipe : </p>
                    <p class="text-xl mb-4">Chemin faisant, le programme de recherche initié par LURIGOR vise à ouvrir la voie à l’exploration de ce rôle. La parti-pris est ainsi de repenser les relations que les outils de gestion entretiennent avec leur contexte interne et externe, et ce à travers 4 problématiques complémentaires :</p>
                    <div>
                        <p>Axes de recherche de l’Equipe AIDE (Anticipations, innovations et dynamique de l’environnement) sont au nombre de 4 :</p>
                        <ol class="ml-5 mb-4">
                            <li class="font-bold text-blue-500">1]  Innovations stratégiques, managériales, organisationnelles et territoriales.</li>
                            <li class="font-bold text-blue-500">2]  Anticipations, innovations et mécanismes de changement.</li>
                            <li class="font-bold text-blue-500">3]  Complexité des situations de gestion face aux incertitudes et situations de crise.</li>
                            <li class="font-bold text-blue-500">4]  Dynamique des organisations en situation de crise et de risques.</li>
                        </ol>
                    </div>
                    <div>
                        <p>Axes de recherche de l’Equipe IDA (Instruments de gestion et dynamique d’apprentissage) sont au nombre de 4 :</p>
                        <ol class="ml-5 mb-4">
                            <li class="font-bold text-blue-500">1]  Outils de gestion et évolution des comportements humains.</li>
                            <li class="font-bold text-blue-500">2]  Dynamique d’appropriation des outils de gestion et processus de régulation.</li>
                            <li class="font-bold text-blue-500">3]  Outils de gestion et pilotage dynamique de l’action collective.</li>
                            <li class="font-bold text-blue-500">4]  Outils de gestion et transformation digitale.</li>
                        </ol>
                    </div>
                    <div>
                        <p>Axes de recherche de l’Equipe IDO (Instruments de gestion et dynamique des organisations) sont au nombre de 4 :</p>
                        <ol class="ml-5 mb-4">
                            <li class="font-bold text-blue-500">1]  Méthodes de conception et d’implémentation des instruments en Sciences de gestion.</li>
                            <li class="font-bold text-blue-500">2]  Outils de gestion et management des organisations publiques/privées.</li>
                            <li class="font-bold text-blue-500">3]  Les paradoxes organisationnels et le déploiement des outils.</li>
                            <li class="font-bold text-blue-500">4]  Outils de gestion et management de la performance.</li>
                        </ol>
                    </div>
                    <div>
                        <p>Axes de recherche de l’Equipe I2D (Instruments et dynamique de développement) sont au nombre de 4 :</p>
                        <ol class="ml-5 mb-4">
                            <li class="font-bold text-blue-500">1]  Intelligence économique et développement territorial.</li>
                            <li class="font-bold text-blue-500">2]  Innovations financière et dynamique de développement des organisations.</li>
                            <li class="font-bold text-blue-500">3]  Evaluation des projets d’investissement privé et public.</li>
                            <li class="font-bold text-blue-500">4]  Organisations, institutions et développement.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="mr-16 ml-16 mt-14 mb-14 border-2 border-gray-700 dark:border-green-500 text-primary h-full dark:text-white">
            <div class="m-5">
                <h4 class="text-primary text-2xl font-bold dark:text-secondary mb-5 underline decoration-secondary">Equipes du Laboratoire :</h4>
                <div>
                    <p class="text-center text-xl text-blue-500 dark:text-thirdly">Equipe 1 : AIDE (Anticipations, innovations et dynamique de l’environnement) Coordonnateur : Mostafa LEKHAL</p>
                    <div class="grid place-self-center">
                        <table class="border-collapse border-spacing-16 border-2 border-primary dark:border-secondary mt-7 text-center">
                            <thead>
                            <tr>
                                <th class="border-2 border-primary dark:border-secondary">Nom et prénoms</th>
                                <th class="border-2 border-primary dark:border-secondary">Etablissement</th>
                                <th class="border-2 border-primary dark:border-secondary">Email institutionnel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Abdelouahed BERRICHI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">abd.berrichi@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Mostafa LEKHAL</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">Lekhal.mostapha@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Med Amine HAFIANE</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">m.hafiane@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Abderrahman TOUBTOU</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-center text-xl text-blue-500 dark:text-thirdly">Equipe 2 : IDO (Instruments de gestion et dynamique des organisations) Coordonnateur : Khalid FIKRI</p>
                    <div class="grid place-self-center">
                        <table class="border-collapse border-spacing-16 border-2 border-primary dark:border-secondary mt-7 text-center">
                            <thead>
                            <tr>
                                <th class="border-2 border-primary dark:border-secondary">Nom et prénoms</th>
                                <th class="border-2 border-primary dark:border-secondary">Etablissement</th>
                                <th class="border-2 border-primary dark:border-secondary">Email institutionnel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Khalid FIKRI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">k.fikri@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Mohamed AL MAACHE</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">m.almaache@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">El Kebir  EL AKRY</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">e.elakry@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Naoual BENAINI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">n.benaini@ump.ac.ma</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-center text-xl text-blue-500 dark:text-thirdly">Equipe 3 : IDA (Instruments de gestion et dynamique d’apprentissage) Coordonnateur : Omar ZAHRAOUI</p>
                    <div class="grid place-self-center">
                        <table class="border-collapse border-spacing-16 border-2 border-primary dark:border-secondary mt-7 text-center">
                            <thead>
                            <tr>
                                <th class="border-2 border-primary dark:border-secondary">Nom et prénoms</th>
                                <th class="border-2 border-primary dark:border-secondary">Etablissement</th>
                                <th class="border-2 border-primary dark:border-secondary">Email institutionnel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Omar ZAHRAOUI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">omarzah.prf.univ@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Najib GUEMMI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">n.guemmi@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Bahija SAKHRAOUI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">b.sakhraoui@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Abdelmalek BEKKAOUI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">a.malekbekkaoui@gmail.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-center text-xl text-blue-500 dark:text-thirdly">Equipe 4 : I2D (Instruments et dynamique de développement) Coordonnateur : Abdelilah EL ATTAR</p>
                    <div class="grid place-self-center">
                        <table class="border-collapse border-spacing-16 border-2 border-primary dark:border-secondary mt-7 text-center">
                            <thead>
                            <tr>
                                <th class="border-2 border-primary dark:border-secondary">Nom et prénoms</th>
                                <th class="border-2 border-primary dark:border-secondary">Etablissement</th>
                                <th class="border-2 border-primary dark:border-secondary">Email institutionnel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Abdelilah EL ATTAR</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">a.elattar@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Fouzia MAJIDI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">majidi_fouzia@yahoo.fr</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Mohamed BOUAZA</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">bouazza.md@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Mohammed Amine EL MOUSSALI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary">mn.elmoussali@ump.ac.ma </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
