{% extends 'base.html.twig' %}

{% block title %}Laboratoire{% endblock %}

{% block main %}
    <main class="main mt-40 small:mt-20">
        <div class="small:ml-4 mr-16 ml-16 mt-14 mb-14 small:w-[370px] small:mx-0 shadow-3xl dark:border-2 dark:border-secondary rounded-xl p-5 text-primary h-full dark:text-white">
            <div class="m-5">
                <h4 class="text-primary text-2xl font-bold dark:text-secondary mb-5 underline decoration-secondary small:text-xl">Missions Et Objectifs :</h4>
                <div>
                    <p class="text-xl mb-4 small:text-lg">Les instruments de gestion sont consubstantiels aux pratiques et au développement des organisations publiques comme privées. Ces outils qui devraient occuper une place de choix dans les programmes de recherche universitaire au Maroc, demeurent néanmoins un domaine insuffisamment exploré, souvent réduit à un ensemble de techniques, restreint à une conception techno-centrique dite « représentationniste» ou « prescriptive ». Une telle conception ne permet pas de comprendre leur rôle dans les dynamiques organisationnelles (de changement, d’innovation, d’apprentissage, d’appropriation, de régulation, etc.).</p>
                    <p class="text-xl mb-4 small:text-lg">Chemin faisant, le programme de recherche initié par LURIGOR vise à ouvrir la voie à l’exploration de ce rôle. La parti-pris est ainsi de repenser les relations que les outils de gestion entretiennent avec leur contexte interne et externe, et ce à travers 4 problématiques complémentaires :</p>
                    <ol class="ml-5 mb-4">
                        <li class="font-bold text-blue-500 small:text-base">1]  La première s'intéresse aux logiques d’anticipations et d’innovations des organisations et des acteurs suite aux mutations de l’environnement (économique, financière, technologique, sanitaire, sécuritaire, etc.) sous le prisme de la contingence ou non.</li>
                        <li class="font-bold text-blue-500 small:text-base">2]  La seconde s’intéresse aux pratiques d’instrumentation de gestion envisagée ici comme résultant d’une activité de construction sous le prisme de la méthode;</li>
                        <li class="font-bold text-blue-500 small:text-base">3]  La troisième aux dynamiques d’apprentissage et d’appropriation des outils par les acteurs sous le prisme de la complexité ou de l’expérience.</li>
                        <li class="font-bold text-blue-500 small:text-base">4]  La quatrième s’intéresse aux dynamiques de développement via le déploiement de nouveaux outils de gestion sous le prisme de la spécificité et de l’innovation.</li>
                    </ol>
                    <p class="text-xl mb-4 small:text-lg">
                        Le laboratoire LURGOR met l'accent sur la recherche fondamentale et la formalisation théorique, tout en revendiquant une approche concrète, à finalité «appliquée », ancrée dans les problèmes posés par la mise en place et le développement des modèles de gestion des organisations au sens large. Il a aussi pour mission :
                    </p>
                    <ol class="ml-5">
                        <li class="font-bold text-green-800 dark:text-green-500  small:text-base">- d’initier des recherches portant sur les questions et problèmes de gestion & développement des organisations (privées et publiques);</li>
                        <li class="font-bold text-green-800 dark:text-green-500  small:text-base">- d’organiser, à la demande, des séminaires de formation et cycles de perfectionnement de courte durée ;</li>
                        <li class="font-bold text-green-800 dark:text-green-500  small:text-base">- d’effectuer des études à la demande des opérateurs publics et privés ;</li>
                        <li class="font-bold text-green-800 dark:text-green-500  small:text-base">- d’exercer des activités de consultation et de coopération en matière gestion & développement des organisations ;</li>
                        <li class="font-bold text-green-800 dark:text-green-500  small:text-base">- d’organiser des conférences, des rencontres, colloques, journées d’études, symposiums, tables rondes,  intéressant les acteurs privés et publics.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="small:ml-4 mr-16 ml-16 mt-14 mb-14 pb-5 small:w-[370px] small:mx-0 shadow-3xl dark:border-2 dark:border-secondary rounded-xl p-5 text-primary h-full dark:text-white">
            <div class="m-5">
                <h4 class="text-primary text-2xl font-bold dark:text-secondary mb-5 underline decoration-secondary">Axes de recherche :</h4>
                <div>
                    <p class="text-xl mb-4">Le programme de recherche initié par LURIGOR vise à ouvrir la voie à l’exploration du rôle des instruments de gestion dans les dynamiques organisationnelles (de changement, d’innovation, d’apprentissage, d’appropriation, etc.) et ce, à travers plusieurs axes de recherche déclinés par équipe : </p>
                    <p class="text-xl mb-4">Chemin faisant, le programme de recherche initié par LURIGOR vise à ouvrir la voie à l’exploration de ce rôle. La parti-pris est ainsi de repenser les relations que les outils de gestion entretiennent avec leur contexte interne et externe, et ce à travers 4 problématiques complémentaires :</p>
                    <div>
                        <p>Axes de recherche de l’Equipe <span class="font-bold dark:text-green-400">AIDE</span> (Anticipations, innovations et dynamique de l’environnement) sont au nombre de 4 :</p>
                        <ol class="ml-5 mb-4">
                            <li class="font-bold text-blue-500">1]  Innovations stratégiques, managériales, organisationnelles et territoriales.</li>
                            <li class="font-bold text-blue-500">2]  Anticipations, innovations et mécanismes de changement.</li>
                            <li class="font-bold text-blue-500">3]  Complexité des situations de gestion face aux incertitudes et situations de crise.</li>
                            <li class="font-bold text-blue-500">4]  Dynamique des organisations en situation de crise et de risques.</li>
                        </ol>
                    </div>
                    <div>
                        <p>Axes de recherche de l’Equipe <span class="font-bold dark:text-green-400">IDA</span> (Instruments de gestion et dynamique d’apprentissage) sont au nombre de 4 :</p>
                        <ol class="ml-5 mb-4">
                            <li class="font-bold text-blue-500">1]  Outils de gestion et évolution des comportements humains.</li>
                            <li class="font-bold text-blue-500">2]  Dynamique d’appropriation des outils de gestion et processus de régulation.</li>
                            <li class="font-bold text-blue-500">3]  Outils de gestion et pilotage dynamique de l’action collective.</li>
                            <li class="font-bold text-blue-500">4]  Outils de gestion et transformation digitale.</li>
                        </ol>
                    </div>
                    <div>
                        <p>Axes de recherche de l’Equipe <span class="font-bold dark:text-green-400">IDO</span> (Instruments de gestion et dynamique des organisations) sont au nombre de 4 :</p>
                        <ol class="ml-5 mb-4">
                            <li class="font-bold text-blue-500">1]  Méthodes de conception et d’implémentation des instruments en Sciences de gestion.</li>
                            <li class="font-bold text-blue-500">2]  Outils de gestion et management des organisations publiques/privées.</li>
                            <li class="font-bold text-blue-500">3]  Les paradoxes organisationnels et le déploiement des outils.</li>
                            <li class="font-bold text-blue-500">4]  Outils de gestion et management de la performance.</li>
                        </ol>
                    </div>
                    <div>
                        <p>Axes de recherche de l’Equipe <span class="font-bold dark:text-green-400">I2D</span> (Instruments et dynamique de développement) sont au nombre de 4 :</p>
                        <ol class="ml-5 mb-4">
                            <li class="font-bold text-blue-500">1]  Intelligence économique et développement territorial.</li>
                            <li class="font-bold text-blue-500">2]  Innovations financière et dynamique de développement des organisations.</li>
                            <li class="font-bold text-blue-500">3]  Evaluation des projets d’investissement privé et public.</li>
                            <li class="font-bold text-blue-500">4]  Organisations, institutions et développement.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="small:ml-4 mr-16 ml-16 mt-14 mb-14 small:w-[370px] small:mx-0 shadow-3xl dark:border-2 dark:border-secondary rounded-xl small:p-0 p-5 text-primary h-full dark:text-white">
            <div class="md:hidden small:w-[370px] h-7"></div>
            <div class="m-5 small:m-0.5">
                <h4 class="text-primary text-2xl font-bold dark:text-secondary mb-5 underline decoration-secondary">Equipes du Laboratoire :</h4>
                <div>
                    <p class="text-center text-xl text-blue-500 dark:text-thirdly small:text-sm">Equipe 1 : <span class="font-bold text-xl text-green-500 dark:text-white">AIDE</span> (Anticipations, innovations et dynamique de l’environnement) Coordonnateur : <span class="font-bold text-blue-800 dark:text-green-500">Mostafa LEKHAL</span></p>
                    <div class="grid place-self-center">
                        <table class="small:overflow-x-auto border-collapse border-spacing-16 border-2 border-primary dark:border-secondary mt-7 text-center small:text-left small:border-spacing-1">
                            <thead>
                            <tr>
                                <th class="border-2 border-primary dark:border-secondary">Nom et prénoms</th>
                                <th class="border-2 border-primary dark:border-secondary">Etablissement</th>
                                <th class="border-2 border-primary dark:border-secondary small:text-xs">Email institutionnel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Abdelouahed BERRICHI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">abd.berrichi@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Mostafa LEKHAL</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">Lekhal.mostapha@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Med Amine HAFIANE</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">m.hafiane@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Abderrahman TOUBTOU</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-sm"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-center text-xl text-blue-500 dark:text-thirdly small:text-sm">Equipe 2 : <span class="font-bold text-xl text-green-500 dark:text-white">IDO</span> (Instruments de gestion et dynamique des organisations) Coordonnateur : <span class="font-bold text-blue-800 dark:text-green-500">Khalid FIKRI</span></p>
                    <div class="grid place-self-center">
                        <table class="small:overflow-x-auto border-collapse border-spacing-16 border-2 border-primary dark:border-secondary mt-7 text-center small:text-left small:border-spacing-1">
                            <thead>
                            <tr>
                                <th class="border-2 border-primary dark:border-secondary">Nom et prénoms</th>
                                <th class="border-2 border-primary dark:border-secondary">Etablissement</th>
                                <th class="border-2 border-primary dark:border-secondary small:text-sm small:w-1.5">Email institutionnel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Khalid FIKRI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-sm">k.fikri@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Mohamed AL MAACHE</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-sm">m.almaache@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">El Kebir  EL AKRY</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-sm">e.elakry@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Naoual BENAINI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-sm">n.benaini@ump.ac.ma</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-center text-xl text-blue-500 dark:text-thirdly small:text-sm">Equipe 3 : <span class="font-bold text-xl text-green-500 dark:text-white">IDA</span> (Instruments de gestion et dynamique d’apprentissage) Coordonnateur : <span class="font-bold text-blue-800 dark:text-green-500">Omar ZAHRAOUI</span></p>
                    <div class="grid place-self-center">
                        <table class="small:overflow-x-auto border-collapse border-spacing-16 border-2 border-primary dark:border-secondary mt-7 text-center small:text-left small:border-spacing-1">
                            <thead>
                            <tr>
                                <th class="border-2 border-primary dark:border-secondary">Nom et prénoms</th>
                                <th class="border-2 border-primary dark:border-secondary">Etablissement</th>
                                <th class="border-2 border-primary dark:border-secondary small:text-xs">Email institutionnel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Omar ZAHRAOUI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">omarzah.prf.univ@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Najib GUEMMI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">n.guemmi@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Bahija SAKHRAOUI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">b.sakhraoui@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Abdelmalek BEKKAOUI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">a.malekbekkaoui@gmail.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-center text-xl text-blue-500 dark:text-thirdly small:text-sm">Equipe 4 : <span class="font-bold text-xl text-green-500 dark:text-white">I2D</span> (Instruments et dynamique de développement) Coordonnateur : <span class="font-bold text-blue-800 dark:text-green-500">Abdelilah EL ATTAR</span></p>
                    <div class="grid place-self-center">
                        <table class="small:overflow-x-auto border-collapse border-spacing-16 border-2 border-primary dark:border-secondary mt-7 text-center small:text-left small:border-spacing-1">
                            <thead>
                            <tr>
                                <th class="border-2 border-primary dark:border-secondary">Nom et prénoms</th>
                                <th class="border-2 border-primary dark:border-secondary">Etablissement</th>
                                <th class="border-2 border-primary dark:border-secondary small:text-xs">Email institutionnel</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Abdelilah EL ATTAR</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">a.elattar@ump.ac.ma</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Fouzia MAJIDI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">majidi_fouzia@yahoo.fr</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Mohamed BOUAZA</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">bouazza.md@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="border-2 border-primary dark:border-secondary">Mohammed Amine EL MOUSSALI</td>
                                <td class="border-2 border-primary dark:border-secondary">FSJES Oujda</td>
                                <td class="border-2 border-primary dark:border-secondary small:text-xs">mn.elmoussali@ump.ac.ma </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="md:hidden small:w-[370px] h-7"></div>
            </div>
        </div>
    </main>
{% endblock %}
