{% extends 'base.html.twig' %}

{% block title %}Modifiez Vos Données{% endblock %}

{% block main %}

    <main class="main mt-40">
        <div class="flex flex-row small:flex-col h-96 items-center text-center justify-evenly centred">
            <a href="{{ path('app_user_profile', { "username": app.user.username }) }}" class="hover:rounded-xl hover:shadow-3xl dark:hover:bg-white/30">
                <div class="w-52 h-60 p-5 flex flex-col justify-between small:w-40 small:h-52">
                    <div class="items-center text-center justify-center">
                        <img src="{{ asset('images/profile.png') }}" alt="profile" class="items">
                    </div>
                    <div>Profile</div>
                </div>
            </a>
            <a href="{{ path('app_user_settings', { "username": app.user.username }) }}" class="hover:rounded-xl hover:shadow-3xl dark:hover:bg-white/30">
                <div class="w-52 h-60 p-5 flex flex-col justify-between small:w-40 small:h-52">
                    <div class="items-center text-center">
                        <img src="{{ asset('images/settings.png') }}" alt="settings">
                    </div>
                    <div>Mot de passe / Nom d'utilisateur</div>
                </div>
            </a>
        </div>
    </main>

{% endblock %}
