
{% block main %}

    <main class="w-full mt-5">
        <div class="w-full shadow-3xl dark:border-2 dark:border-secondary p-2 rounded-xl">
            {% set comment_id = form.vars.value.id %}
            {{ form_start(form, {
                'attr' : {
                    'class': 'mt-16',
                    'id' : 'comment-topic-form-edit'
                }
            }) }}
            {% if comment_id %}
                {{ form_row(form.content, {
                    label: 'Editez Votre Commentaire...',
                    'attr': {
                        'class': 'mb-5 flex flex-row justify-between border-2 border-secondary w-full comment_for_topics_form_content_' ~ comment_id
                    }
                }) }}
                {% else %}
                    {{ form_row(form.content, {
                        label: 'Editez Votre Commentaire...',
                        'attr': {
                            'class': 'mb-5 flex flex-row justify-between border-2 border-secondary w-full'
                        }
                    }) }}

            {% endif %}
            <button type="submit" class="mt-3 text-primary bg-secondary rounded-xl hover:bg-[#D19900] w-[85px] h-10"><i class="fa-solid fa-check"></i></button>
            {{ form_end(form) }}
        </div>
    </main>

{% endblock %}