{% for message in app.flashes('success') %}
    <div class="p-4 m-5 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
        <span class="font-medium">Succès</span> {{ message }}
    </div>
{% endfor %}