{% for message in app.flashes('notice') %}
    <div class="p-4 m-5 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
        <span class="font-medium">Info: </span> {{ message }}
    </div>
{% endfor %}